.App {
  text-align: center;
  /*background-color: #282c34;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.character-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  top: 55%;
}

.character {
  width: 100%;
  scale: 1.6;
  height: auto;
  transform: translateY(-50%);
}

.chat-bubble {
  position: absolute;
  top: 15%;
  transform: translateY(-50%); 
  right: 5%; 
  width: 50%;
  scale: 1.5;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  z-index: 1;
  border-radius: 19px;
  background: #572abf;
  box-shadow:  28px 28px 71px #6e39e9,
             -28px -28px 71px #480fca;
  color: white;
  max-width: 30%;
}


.chat-bubble::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent; 
}

.input-text {
  position: absolute;
  width: 70%;
  bottom: 15%;
  height: 5rem;
  right: 50%;
  transform: translate(50%);
  border: none;
  border-radius: 3rem; 
  cursor: pointer;
  background: #7243df; /* Dark background color */
  background: linear-gradient(137deg, #F22583 0%, #390CA0 100%);
  color: white; /* White text color */
  font-size: 1.2rem;
  font-weight: 550;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s;
  outline: none;
  padding-left: 1.5rem;
    
}

.input-text::placeholder {
  color: white; 
}
